<%- include ('./partials/header') %>

<div class="thumbnail">

<h1>
    <%=campground.name%>
</h1>
</div>

<img src="<%=campground.image %>">
<p><%=campground.description%></p> 

<%- include ('./partials/footer') %>
